<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/master">

<head>
    <title>A propos</title>
</head>

<body>

<div layout:fragment="content">
    <div class="page-header">
        <h1>A propos</h1>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet massa turpis, in iaculis diam placerat tempor. Duis pretium, diam ut accumsan imperdiet, dui libero pretium nulla, non auctor elit ante eget elit. Cras vestibulum enim sed urna fermentum, non ultricies nunc tincidunt. Integer volutpat blandit viverra. Etiam pretium massa tortor. Cras vitae orci nec mi tincidunt mattis vel et urna. Vestibulum hendrerit erat quis tincidunt semper. Cras feugiat, odio sit amet pharetra imperdiet, risus odio egestas metus, sit amet luctus felis mauris at augue. Duis congue eros at lorem finibus, vitae semper justo iaculis. Integer quis laoreet leo. Sed tincidunt et ante ac scelerisque. Nam commodo odio turpis, in rhoncus tortor aliquet ut. Aenean imperdiet varius lorem sit amet efficitur.</p>
    <p>Ut pellentesque leo et massa posuere luctus. Etiam id massa sit amet mi varius eleifend. Donec mattis lacus vel metus congue, vitae sodales dui fermentum. Aenean lobortis, turpis id sagittis dignissim, arcu urna tempor sapien, ac placerat neque arcu vitae ante. Fusce a cursus diam. Sed porta sed ipsum non semper. Nunc tempus neque erat, eget aliquet massa facilisis sed. Morbi eu tellus porta, congue ante non, iaculis nisl. Donec pharetra blandit rhoncus. Mauris id erat ut lorem ultrices lobortis.</p>
</div>

</body>

</html>